.search-modal {
	display: none;
	@media screen and (min-width: $lg) {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		z-index: 10;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;

		visibility: hidden;
		transition: visibility 0s linear 0.75s, opacity 0.5s;
	}

	&__container {
		width: 80%;
		max-width: 1200px;
		opacity: 0;
		transform: translateY(-30%);
		transition: transform 0.75s $ease, opacity 0.25s;
	}

	.section-title {
		transform: translateY(-100px);
		transition: 0.5s $ease;
	}

	.liste-thematiques {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	form {
		position: relative;
		margin: 3vh 0 10vh;
		transform: translateY(-50px);
		transition: 0.5s $ease;
		// border: 2px solid $green;
		// border-radius: 20px;
		display: flex;

		input {
			&[type="text"] {
				width: calc(100% - 75px);
				background: $light;
				border-top: 2px solid $green;
				border-left: 2px solid $green;
				border-bottom: 2px solid $green;
				border-radius: 20px 0 0 20px;
				padding: 1.3rem 1rem;
				outline: 0;

				&::placeholder {
					color: $dark;
					opacity: 0.5;
				}

				&:focus {
					background: lighten($light, 2%);
				}
			}
			&[type="submit"] {
				width: 75px;
				text-indent: -9999px;
				border-radius: 0 20px 20px 0;
				background: $green url("/src/img/icon-search-light.svg") center
					center no-repeat;
				cursor: pointer;
				transition: background 0.2s;

				&:hover {
					background-color: darken($green, 15%);
				}

				&:focus {
					box-shadow: inset 0 0 0 2px darken($green, 15%);
					background-color: darken($green, 5%);
					outline: none;
				}
			}
		}
	}

	// BOUTON CLOSE
	.btn-close__container {
		position: absolute;
		width: 30px;
		height: 30px;
		top: 3vw;
		right: 3vw;
		transition: opacity 0.2s;
		opacity: 0;

		.btn-close {
			background: url("/src/img/icon-burger-close.svg") center center
				no-repeat;
			background-size: contain;
			width: 30px;
			height: 30px;
			transition: 0.2s;

			&:hover {
				transform: scale(1.1);
				// opacity: 0.8;
			}
		}
	}

	// BACKGROUND
	.background {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: $light;
		transform: scaleY(0);
		transform-origin: top;
		transition: transform 0.75s 0s $ease;
	}

	// MODAL ACTIVE
	&.active {
		opacity: 1;
		visibility: visible;
		transition: visibility 0s linear 0s, opacity 0.5s;

		.background {
			transform: scaleY(1);
			transition: transform 1s $ease;
		}

		.search-modal__container,
		.section-title,
		.btn-close__container,
		form {
			opacity: 1;
			transform: translateY(0);
			transition: transform 1.2s $ease, opacity 0.5s 0.35s;
		}
	}
}
