.page-contact {
	.main-section {
		.container {
			@media screen and (min-width: $lg) {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
			}
		}

		.left {
			@media screen and (min-width: $lg) {
				padding-right: 20%;
			}
			.adress {
				@media screen and (min-width: $md) {
					display: flex;
					justify-content: space-between;
				}
			}
			.map {
				margin: 2rem 0;
				.img-container {
					border-radius: $radius;
					overflow: hidden;
				}
			}
			strong {
				font-weight: 800;
			}
		}

		.right {
			margin-top: 4rem;

			@media screen and (min-width: $lg) {
				margin-top: 0;
			}

			form {
				p {
					margin-bottom: 2rem;
				}
				input[type="text"],
				input[type="email"],
				textarea {
					width: 100%;
					background: $light;
					border: 2px solid $green;
					border-radius: $radius;
					padding: 1.2rem;

					&:focus {
						background: lighten($light, 2%);
						outline: none;
					}
				}

				textarea {
					min-height: 250px;
				}

				label {
					@include text-sm;
					font-weight: 800;
				}

				.btn-primary {
					min-width: 200px;
				}
			}
		}
	}
}
