::selection {
	background: $green;
	color: $light;
}

html {
	scroll-behavior: smooth;
	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}
}

body {
	@apply bg-light text-dark text-base;
}

.container {
	max-width: none;
}

.page-container {
	padding-top: 78px;
	overflow-x: hidden;
	position: relative;
	@media screen and (min-width: $lg) {
		padding-top: 122px;
	}
}
